<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="HelloWiX.Installer"
    Manufacturer="Swinburne University"
    Version="1.0.0"
    UpgradeCode="THE-GENERATED-GUID">

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>